<section class="d-flex justify-content-center align-items-center">
  <div class="row g-0 shadow rounded overflow-hidden w-100 align-items-center">
    <div class="col-md-8 d-none d-md-block">
      <div class="image"></div>
    </div>

    <div class="col-md-4">
      <form
        class="px-4"
        [formGroup]="registerForm"
        (ngSubmit)="register(registerForm)"
      >
        <h1 class="text-center display-1">Register</h1>
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>FirstName</mat-label>
          <input
            formControlName="first_name"
            type="text"
            matInput
            placeholder="Ex. Ahmed"
          />

          <mat-error
            *ngIf="registerForm.get('first_name')?.hasError('required')"
          >
            FirstName is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>LastName</mat-label>
          <input
            formControlName="last_name"
            type="text"
            matInput
            placeholder="Ex. Menisy"
          />

          <mat-error
            *ngIf="registerForm.get('last_name')?.hasError('required')"
          >
            lastName is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="w-100" appearance="outline">
          <mat-label>email</mat-label>
          <input
            formControlName="email"
            type="text"
            matInput
            placeholder="Ex. exmaple@yahoo.com"
          />

          <mat-error *ngIf="registerForm.get('email')?.hasError('required')">
            email is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="registerForm.get('email')?.hasError('email')">
            Invalid <strong>Pattern</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Enter your password</mat-label>
          <input
            formControlName="password"
            matInput
            [type]="hide ? 'password' : 'text'"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
            type="button"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>

          <mat-error *ngIf="registerForm.get('password')?.hasError('required')">
            password is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="w-100" appearance="outline">
          <mat-label>age</mat-label>
          <input
            formControlName="age"
            type="number"
            matInput
            placeholder="Ex. Ahmed"
          />

          <mat-error *ngIf="registerForm.get('age')?.hasError('required')">
            age is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <button
          [disabled]="registerForm.invalid"
          mat-raised-button
          color="primary"
          class="w-100"
        >
          Register
        </button>
      </form>
    </div>
  </div>
</section>
